# Dependencias
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Archivos de build
dist/
build/

# Archivos de entorno (¡nunca subas secretos!)
.env*

# Archivos del sistema operativo
.DS_Store
Thumbs.db